/*****--------------------cabinet-----------------*****/
.cabinet {
  display: grid;
  grid-template-columns: 1fr 2fr;

  margin-bottom: 56px;

  &__menu {}

  &__menu-mobile {
    display: none;

    border: 1px solid #E0E0E0;
box-sizing: border-box;
border-radius: 2px;
padding: 5px;
align-items: center;
justify-content: center;

font-family: Gilroy;
font-size: 14px;
font-style: normal;
font-weight: 500;
line-height: 20px;
letter-spacing: 0em;
text-align: left;

&::before {
  content: '';
  display: inline-block;
  height: 24px;
  width: 24px;
  margin-right: 5px;

  background: url(../img/icons/menu-mobile.svg) no-repeat center center;

}

  }

  &__menu-item {}

  &__menu-title {
    font-family: Gilroy;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;

  }

  &__menu-link {
    font-family: Gilroy;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;

    &:hover {
      text-decoration: underline;
    }
  }

  &__choise {
    display: flex;
    border-bottom: 1px solid #D1DBE3;
  }

  &__choise-button {
    cursor: pointer;

    font-family: Gilroy;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;

    padding-bottom: 16px;
    margin-right: 32px;
    margin-bottom: -2px;


    &--active {
      border-bottom: 3px solid $blue;
      color: $blue;
    }
  }

  &__aside {
    overflow: hidden;

    border: 1px solid #D1DBE3;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 24px 32px 0;
  }

  &__list {}

  &__list-item {
    display: flex;
    justify-content: space-between;

    padding: 40px 0;

    border-bottom: 1px solid #D1DBE3;

    &:last-child {
      border: 0;
    }
  }

  &__column {
    min-width: 150px;
  }

  &__number {
    font-family: Gilroy;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;

    margin-bottom: 24px;
  }


  &__info {
    font-family: Gilroy;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;

    margin-bottom: 7px;

    &--grey {
      color: $link-grey;
    }
  }

  &__services {
    margin-top: 32px;
  }

  &__services-title {
    font-family: Gilroy;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;

    margin-bottom: 16px;
  }

  &__services-info {
    font-family: Gilroy;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;

    margin-bottom: 16px;
  }

  &__group {
    display: flex;
  }

  &__button {
    margin-right: 15px;
    width: 232px;
  }

  &__total {
    font-family: Gilroy;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;

    margin-bottom: 8px;
  }

  &__status {
    font-family: Gilroy;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;

    color: $red;
    padding-left: 26px;
    position: relative;

    &--green {
      color: #24BD61;
    }

    &:before {
      content: '';
      display: inline-block;
      width: 16px;
      height: 16px;
      background: url(../img/icons/grey-question.svg) no-repeat center center;

      position: absolute;
      left: 0;
    }
  }
}

/*****--------------------cabinet-----------------*****/

/*****--------------------bonus-----------------*****/
.cabinet {
  &__row {
    font-family: Gilroy;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;

    padding-top: 32px;
    padding-bottom: 24px;
    border-bottom: 1px solid #D1DBE3;

    display: flex;
    justify-content: space-between;
    align-items: center;

    &:last-child {
      border: 0;
    }

    &:first-child {
      padding-top: 0;
    }
  }

  &__row-span {
    color: #A0A0A0;

    p {
      margin-bottom: 8px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &--black {
      color: #000;
      font-weight: 600;
    }
  }

  &__row-info {}

  &__row-bonus {
    color: #24BD61;

    &--red {
      color: $red;
    }
  }
}

/*****--------------------bonus-----------------*****/

/*****--------------------profile-info-----------------*****/
.cabinet {

  &__input-label {
    width: 428px;
    position: relative;

    font-family: Gilroy;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;

    display: flex;
    flex-direction: column;

    span {
      display: inline-block;
      margin-bottom: 16px;
    }
  }

  &__input-link {

    text-decoration: underline;
    color: $blue;
    position: absolute;
    right: 16px;
    top: 48px;
    background: #fff;
    padding-left: 5px;
  }

  &__input {

    border: 1px solid #D1DBE3;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 16px;
    margin-bottom: 16px;

    color: $link-grey;

    &::placeholder {
      color: $link-grey;
    }

    &--with-btn {
      padding-right: 80px;

    }
  }

  &__bottom {
    background: #F7F7F7;

    width: calc(100% + 64px);
    position: relative;
    left: -32px;
    padding: 20px 32px;

    display: flex;

    .button {
      margin-right: 0;
    }
  }

  &__button {
    margin-left: auto;
  }
}

/*****--------------------profile-info-----------------*****/