.main-title {
  font-family: Gilroy;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: left;


  margin-bottom: 50px;
}

/*****--------------------button-----------------*****/
.button {
  text-transform: uppercase;

  font-family: Gilroy;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0.05em;
  text-align: left;
  text-transform: uppercase;

  padding: 12px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #D1DBE3;
  border-radius: 5px;
  transition: all .2s;
  cursor: pointer;

  padding-left: 35px;
  padding-right: 35px;
  text-align: center;

  &:hover {
    background: #0455E3;
  }

  &--long {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }

  &--blue {
    background: $blue;
    border: 1px solid $blue;
    color: #fff;

    &:hover {
      background: #0455E3;
    }
  }

  &--light-blue {
    background: #DDE8FF;
    border: 1px solid #DDE8FF;
    color: $blue;

    &:hover {
      color: #fff;
    }
  }

  &--transparent {
    background: transparent;
    border: 1.5px solid $blue;
    color: $blue;
    border-radius: 5px;

    &:hover {
      color: #fff;
    }
  }

  &--transparent-grey {
    background: transparent;
    border: 1.5px solid #D1DBE3;
    color: $blue;
    border-radius: 5px;

    &:hover {
      color: #fff;
    }
  }

  &--white {
    background: #fff;
    color: $blue;

    &:hover {
      // color: #fff;
      background: darken(#fff, 7%);
      // background: $blue !important;
      // border: 1px solid $blue !important;
    }
  }

  &--white-black {
    border: 2px solid #D1DBE3;
    background: #fff;

    &:hover {
      background: #D1DBE3;
    }
  }


  &--grey {
    background: #FEFFF8;
    border: 1px solid #FEFFF8;

    &:hover {
      background: #F1F1F1 !important;
      border: 1px solid #F1F1F1 !important;
    }
  }

  &--burger {

    &::before {
      content: '';
      display: inline-block;

      width: 24px;
      height: 20px;
      margin-right: 5px;
      background: url(../img/icons/menu-burger-white.svg) no-repeat center center;
    }
  }

  &--arrow {
    &::after {
      content: '';
      display: inline-block;

      width: 6px;
      height: 12px;
      margin-left: 5px;
      background: url(../img/icons/arrow-right-white.svg) no-repeat center center;
    }
  }
}

/*****--------------------button-----------------*****/

/*****--------------------header-----------------*****/

.header {
  width: 100%;
  padding: 17px 0;

  &__group {
    display: flex;
    align-items: center;
  }

  &__filter {
    display: none;
    width: 24px;
    height: 24px;
    background: url(../img/icons/blue-filter.svg) no-repeat center center;
  }

  &__burger {
    display: none;
    margin-left: 10px;

    width: 32px;
    height: 32px;
    border-radius: 3px;
    background: $blue;
    padding: 10px 7px;

    &--main {
      background-image: url(../img/icons/menu-burger-white.svg);
      background-repeat: no-repeat;
      background-position: center center;
    }

    &--close {
      background-image: url(../img/icons/white-close.svg);
      background-repeat: no-repeat;
      background-position: center center;
    }
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {}

  &__contact {
    &--right {
      margin-left: auto;
    }
  }

  &__tel {
    font-family: Gilroy;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;

    display: flex;
    align-items: center;

    &::before {
      @include pseudo;
      width: 18px;
      height: 18px;
      background: url(../img/icons/phone.svg) no-repeat center center;

      margin-right: 6px;
    }
  }

  &__loc {
    font-family: Gilroy;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;

    display: flex;
    align-items: center;

    &::before {
      @include pseudo;
      width: 18px;
      height: 18px;
      background: url(../img/icons/loc.svg) no-repeat center center;

      margin-right: 6px;
    }
  }

  &__cabinet {
    font-family: Gilroy;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;

    padding: 5px 0 5px 20px;
    border-left: 1px solid #CFD9E1;
  }

  &__login {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
  }

  &__login-link {
    font-family: Gilroy;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-align: left;

    color: $blue;
  }
}

.header-search {
  background: $fon-grey;
  border-radius: 30px;
  padding: 10px 15px;

  display: flex;
  align-items: center;

  &__input {
    border: 0;
    background: transparent;

    font-family: Gilroy;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;

  }

  &__button {
    cursor: pointer;
    border: 0;
    width: 24px;
    height: 24px;
    background: url(../img/icons/search.svg) no-repeat center center;

    margin-left: 6px;
  }
}

.header-bonus {
  font-family: Gilroy;
  font-style: normal;
  font-size: 12px;
  font-weight: 500;
  line-height: 13px;
  letter-spacing: 0em;
  text-align: left;

  padding-left: 28px;
  position: relative;

  &::before {
    @include pseudo;

    position: absolute;
    left: 0;
    top: 0;
    border: 0;
    width: 24px;
    height: 24px;
    background: url(../img/icons/gift.svg) no-repeat center center;
  }


  &__nr {
    color: $blue;

    font-size: 14px;
    font-weight: 700;
    line-height: 13px;
  }

  &__word {}
}

/*****--------------------header-----------------*****/

/*****--------------------filters-----------------*****/
.select {
  font-family: Gilroy;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;

  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  border-radius: 3px;
  background: #fff;


  padding-left: 25px;

  &::after {
    content: '';
    position: absolute;
    right: 10px;

    width: 10px;
    height: 10px;

    background: url(../img/icons/Triangle.svg) no-repeat center center;

  }
}

.new-select {

  width: 100%;
  position: relative;
  padding: 10px 15px;
  cursor: pointer;
  user-select: none;
}

.new-select__list {
  position: absolute;
  top: 45px;
  left: 0;
  border: 1px solid #ced4da;
  cursor: pointer;
  width: 100%;
  z-index: 2;
  background: #fff;
  user-select: none;
}

.new-select__list.on {
  display: block;
}

.new-select__item span {
  display: block;
  padding: 10px 15px;
}

.new-select__item span:hover {
  color: $blue;
}

.new-select:after {
  content: '';
  display: block;
  width: 25px;
  height: 25px;
  position: absolute;
  right: 9px;
  top: 9px;
  background: url('path-to-image') no-repeat right center / cover;
  opacity: 0.6;

  -webkit-transition: all .27s ease-in-out;
  -o-transition: all .27s ease-in-out;
  transition: all .27s ease-in-out;

  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}

.new-select.on:after {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

/*****--------------------filter-----------------*****/
.filter {
  font-family: Gilroy;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;

  margin-bottom: 32px;

  background: rgba(#E6E6E6, .3);
  padding: 24px 0;

  &__inner {
    display: flex;
    align-items: center;
  }

  &__menu {
    width: auto;
    height: 100%;
    padding-left: 40px;
    padding-right: 40px;

    margin: 0 32px 0 0;
  }

  &__form {
    height: 48px;
    display: flex;
    align-items: center;

    border: 2px solid $blue;
    width: 100%;
    border-radius: 5px;
  }

  &__block-title {
    flex-shrink: 0;
    padding: 0 16px;

  }

  &__type {
    flex-grow: 1;
    display: flex;
    align-items: center;

    .select {
      &::before {
        content: '';
        width: 20px;
        height: 20px;
        background: url(../img/icons/grey-home.svg) no-repeat center center;

        position: absolute;
        left: 10px;
      }
    }
  }

  &__location {
    flex-grow: 1;
    display: flex;
    align-items: center;

    .select {
      &::before {
        content: '';
        width: 20px;
        height: 20px;
        background: url(../img/icons/grey-loc.svg) no-repeat center center;


        position: absolute;
        left: 10px;
      }
    }
  }

  &__button {
    width: auto;
    height: 100%;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 0;

    margin-left: 10px;

  }
}

.relative {
  position: relative;
}

.main-menu {
  display: none;
  position: absolute;
  z-index: 100;
  top: 30px;
  left: 115px;

  width: 230px;

  background: #FFFFFF;
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 10px 24px;

  &__item {
    width: 100%;
  }

  &__link {
    font-family: Gilroy;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    transition: all .2s;

    &:hover {
      color: $blue;
    }
  }
}


/*****--------------------filters-----------------*****/

/*****--------------------footer-----------------*****/
.footer {
  font-family: Gilroy;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;


  &__inner {
    padding: 24px 0 50px;
    border-top: 1px solid #D1DBE3;
    display: flex;
    justify-content: space-between;
  }

  &__copyright {}

  &__link {
    span {
      color: $blue;
    }
  }
}

/*****--------------------footer-----------------*****/

/*****--------------------contact-----------------*****/
.contact {
  overflow: hidden;
  // width: 1110px;
  display: flex;
  align-items: stretch;

  margin-top: 40px;
  padding-top: 40px;
  padding-bottom: 50px;
  border-top: 1px solid #D1DBE3;

  &__links {
    flex-basis: 70%;
  }

  &__links-title {
    margin-bottom: 40px;
    max-width: calc(100vw - 30px);

    img {
      object-fit: contain;
    }

    &--line {
      // border-bottom: 1px solid #D1DBE3;
      margin-top: -20px;
      padding-bottom: 20px;
      position: relative;

      &::after {
        content: '';
        display: inline-block;
        height: 1px;
        width: 200%;
        border-bottom: 1px solid #D1DBE3;

        position: absolute;
        bottom: 0;
      }
    }
  }

  &__list-wrapper {
    display: flex;
  }

  &__list {
    margin-right: 32px;
  }

  &__list-title {
    font-family: Gilroy;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;

    margin-bottom: 24px;
  }

  &__list-link {
    display: block;
    font-family: Gilroy;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;

    margin-bottom: 16px;

    &:hover {
      text-decoration: underline;
    }
  }

  &__parteners {
    flex-basis: 30%;
    margin-right: 50px;

    display: flex;
    flex-direction: column;
  }

  &__parteners-title {
    font-family: Gilroy;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;

  }

  &__parteners-phone {
    font-family: Gilroy;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;

  }

  &__button {
    margin-top: auto;
  }

  &__parteners-info {
    font-family: Gilroy;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;

    color: #020202;
    opacity: 0.4;

    margin-top: 16px;
  }
}

/****--------------------burger-menu-----------------*****/
.burger-menu {

  display: none;
  box-shadow: 0px 14px 8px -5px rgba(34, 60, 80, 0.05) inset;

  min-height: 100vh;
  width: 320px;
  position: absolute;
  z-index: 100;
  right: 0;
  top: 65.5px;
  background: #FFFFFF;

  text-align: left;

  padding: 48px 16px;

  &__item {
    padding-bottom: 16px;

    &--line {
      padding: 0;
      width: 100%;
      height: 1px;
      background: #D1DBE3;
      margin-bottom: 24px;
    }
  }

  &__link {
    display: flex;
    align-items: center;

    font-family: Gilroy;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #000;
    text-transform: none;

    &--phone {
      &::before {
        content: '';
        display: inline-block;

        width: 24px;
        height: 24px;
        background: url(../img/icons/blue-fix-phone.svg) no-repeat center center;
      }
    }

  }
}

/*****--------------------burger-menu-----------------*****/

/*****--------------------contact-----------------*****/