/*****--------------------individual-application-list-----------------*****/
@media only screen and (max-width: 1024px) {
  .chop {
    &__main-title {}

    &__filter {}

    &__column {}

    &__title {}

    &__select {
      &--loc {}
    }

    &__option {}

    &__button {}

    &__choise {}

    &__choise__title {}

    &__choise-group {
      margin-left: 10px;

      .button {
        width: 100%;
        margin-left: 0;
        margin-bottom: 10px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    &__choise-button {}

    &__sort {}

    &__sort-title {}

    &__sort-select {}

    &__sort-option {}

    &__list {}

    &__item {}

    &__item-column {}

    &__item-mark {}

    &__item-info {}

    &__item-question {}

    &__item-title {}

    &__item-icons {}

    &__item-icon {}

    &__item-tags {}

    &__item-tag {}

    &__item-text {}

    &__item-span {}

    &__item-link {}

    &__item-price-desc {}

    &__item-price {}

    &__item-group {}

    &__item-button {}
  }

}

@media only screen and (max-width: 786px) {
  .chop {
    &__item-group {
      .button {
        width: 100%;
      }
    }
  }
}

@media only screen and (max-width: 640px) {
  .chop {
    &__choise__title {
      margin-bottom: 16px;
    }

    &__choise {
      display: flex;
      flex-direction: column;
      margin-bottom: 10px;
    }

    &__choise-group {
      margin-left: 0;
    }
  }
}


@media only screen and (max-width: 480px) {
  .chop {
    &__choise__title {
      margin-bottom: 16px;
    }

    &__choise {
      padding: 16px 0;
    }
  }
}

@media only screen and (max-width: 380px) {
  .chop {
    &__choise-group {
      .button {
        font-size: 12px;
        line-height: 15px;
      }
    }

    &__choise__title {
      font-size: 16px;
      line-height: 19px;
    }
  }
}

/*****--------------------individual-application-list-----------------*****/

/*****--------------------individual-application-----------------*****/
@media only screen and (max-width: 640px) {
  .calculation {
    width: 100%;

    &__line-info {}

    &__value {}

    &__line {}

    &__total {}
  }

  .application {
    &__section {
      padding: 0 20px;

      &--hidden {}
    }

    &__top {
      padding: 20px;
    }

    &__main-title {
      padding-left: 80px;
    }

    &__change {}

    &__list {}

    &__item {
      flex-direction: column;
    }

    &__left {
      max-width: 100%;
    }

    &__title {
      br {
        display: none;
      }

      &--grey {}
    }

    &__right {}

    &__info {
      &--blue {}
    }

    &__link {
      display: inline-block;
      margin-bottom: 16px;
    }

    &__bottom {
      .button {
        width: 100%;
      }
    }

    &__button {}

    &__information {}

    &__calendar {
      margin-bottom: 16px;
      padding: 16px;
      width: 100%;
    }

    &__form {
      width: 100%;
    }

    &__input {}

    &__textarea {}
  }

}

@media only screen and (max-width: 480px) {

  .application {
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    width: 100vw;
    position: relative;
    left: -15px;

    &__section {
      padding: 0 16px;

      &::before {
        width: 32px;
        height: 32px;

        top: 16px;
      }

      &--hidden {}
    }

    &__top {
      height: 64px;
    }

    &__main-title {
      padding-left: 60px;
    }

    &__change {
      width: 24px;
      height: 24px;
      font-size: 0;
      padding: 0;
      border: 0;
      background: url(../img/icons/edit.svg) no-repeat center center;
    }

    &__list {}

    &__item {}

    &__left {}

    &__title {
      &--grey {}
    }

    &__right {}

    &__info {
      &--blue {}
    }

    &__link {}

    &__bottom {}

    &__button {}

    &__information {}

    &__calendar {}

    &__form {}

    &__input {
      padding: 16px;
    }

    &__textarea {
      display: none;
    }
  }
}

@media only screen and (max-width: 380px) {
  .calculation {
    width: 100%;

    &__line-info {
      font-size: 14px;
      line-height: 17px;
    }

    &__value {}

    &__line {}

    &__total {}
  }

  .application {

    &__section {


      &--hidden {}
    }

    &__top {}

    &__main-title {}

    &__change {}

    &__list {}

    &__item {}

    &__left {}

    &__title {
      font-size: 16px;
      line-height: 19px;

      &--grey {}
    }

    &__right {}

    &__info {
      font-size: 14px;
      line-height: 16px;

      &--blue {}
    }

    &__link {
      font-size: 14px;
      line-height: 16px;
    }

    &__bottom {}

    &__button {}

    &__information {
      font-size: 14px;
      line-height: 16px;
    }

    &__calendar {}

    &__form {}

    &__input {
      font-size: 14px;
      line-height: 16px;
    }

    &__textarea {
      font-size: 14px;
      line-height: 16px;
    }
  }
}

/*****--------------------individual-application-----------------*****/


/*****--------------------application-confiremed-----------------*****/
@media only screen and (max-width: 1024px) {
  .application-confirm {
    display: block;

    &__left {}

    &__text {}

    &__link {}

    &__aside {}

    &__aside-main-title {}

    &__aside-title {}

    &__aside-value {}

    &__aside-total {}

    &__button {}
  }
}

@media only screen and (max-width: 380px) {
  .application-confirm {
    display: block;

    &__left {}

    &__text {
      font-size: 14px;
      line-height: 23px;

      p {
        margin-bottom: 16px;
      }
    }

    &__link {}

    &__aside {
      border-radius: 5px;
      padding: 16px 10px;
    }

    &__aside-main-title {
      font-size: 20px;
      line-height: 24px;
    }

    &__aside-title {
      font-size: 16px;
      line-height: 19px;
    }

    &__aside-value {
      font-size: 16px;
      line-height: 19px;
    }

    &__aside-total {
      font-size: 16px;
      line-height: 19px;
    }

    &__button {
      font-size: 12px;
      line-height: 15px;
    }
  }
}

/*****--------------------application-confiremed-----------------*****/