/*****--------------------smart-house-----------------*****/

/*****--------------------media-----------------*****/

/*****--------------------slider-----------------*****/
@media only screen and (max-width: 1024px) {
  .slider-services {

    &__content {
      width: 50%;
      position: relative;
      z-index: 100;
    }

    &__img {
      position: absolute;
      bottom: 0;
      right: 50px;
    }
  }
}

@media only screen and (max-width: 768px) {
  .slider-services {

    &__content {
      width: 100%;
      position: relative;
      z-index: 100;
    }

    &__img {
      position: absolute;
      bottom: 0;
      right: 0;
      left: auto;
      width: calc(100vw - 30px);

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

@media only screen and (max-width: 640px) {
  .slider-services {
    width: 100vw;
    position: relative;
    left: -15px;

    &__inner {
      border-radius: 0;
      background-color: #DDE8FF;
    }

    &__content {
      padding: 180px 24px 46px;
    }

    &__title {
      font-family: Gilroy;
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: 22px;
      letter-spacing: 0em;
      text-align: left;
      margin-bottom: 10px;
    }

    &__text {
      font-family: Gilroy;
      font-size: 13px;
      font-style: normal;
      font-weight: 500;
      line-height: 15px;
      letter-spacing: 0em;
      text-align: left;
    }

    &__button {
      width: 100%;
    }

    &__img {
      top: 24px;
      bottom: auto;
      left: auto;
      right: 0;
    }

    .slick-dots {
      bottom: 18px;
    }
  }


}


/*****--------------------slider-----------------*****/


/*****--------------------grid-box-----------------*****/

@media only screen and (max-width: 1100px) {
  .grid-box {
    grid-template-columns: repeat(2, 1fr);


  }

  .grid-item {
    &__inner {
      flex-direction: column;
    }

    &__list {
      width: 100%;
      margin-bottom: 24px;
    }

    &__content {
      width: 100%;

    }

    &__button {
      width: 100%;
      // margin-bottom: 0 !important;
      // margin-right: 10px;
      max-width: 100%;
      position: relative;
      z-index: 10;
    }


  }

}

@media only screen and (max-width: 900px) {
  .grid-box {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

    &__item {
      &--big {
        order: 1;
        grid-row: 1 / 2;
        grid-column: 1 / 2;
      }
    }
  }

  .grid-item {}


}

@media only screen and (max-width: 640px) {
  .grid-box {}

  .grid-item {
    min-height: 200px;
    padding: 20px;

    &__title {
      position: relative;
      z-index: 20;
      width: 50%;
      margin-left: calc(50% - 20px);

    }

    &__text {
      width: 50%;
      margin-left: calc(50% - 20px);
    }

    &__img {
      position: absolute;
      left: 20px;
      top: 20px;
      width: calc(50% - 60px);
      height: 200px;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }

      &--bottom {
        height: 100px;
      }
    }
  }

}


@media only screen and (max-width: 480px) {
  .grid-box {
    grid-row-gap: 10px;

    &__item {
      &--big {}
    }
  }

  .grid-item {
    min-height: 200px;
    padding: 20px 10px;

    .button--blue {
      display: none;
    }

    &--blue {}

    &--red-pattern {}

    &--center {}

    &--yellow {}

    &__title {
      margin-bottom: auto;

      font-family: Gilroy;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: 19px;
      letter-spacing: 0em;
      text-align: left;


      &--small {}
    }

    &__inner {}

    &__list {
      display: none;
    }

    &__content {
      margin-top: auto;
    }

    &__text {
      display: none;

      &--bold {}
    }

    &__group {
      margin-top: auto;
    }

    &__button {}

    &__img {
      height: 100px;

      &--bottom {}

      &--mobile {
        display: block;
      }
    }
  }
}


/*****--------------------grid-box-----------------*****/


/*****--------------------packet-services-----------------*****/
@media only screen and (max-width: 1024px) {
  .packet-services {
    &__main-title {}

    &__item {
      padding: 60px 30px 30px;
    }

    &__title {}

    &__inner {}

    &__column {}

    &__list {}

    &__list-item {
      &--flex {}
    }

    &__mini-title {}

    &__description {}

    &__logo {}

    &__price {}

    &__discount {
      &--red {}
    }

    &__button {}

    &__promo {}
  }
}

@media only screen and (max-width: 768px) {
  .packet-services {
    &__main-title {}

    &__item {
      padding: 20px;
    }


    &__title {}

    &__inner {}

    &__column {}

    &__list {}

    &__list-item {
      &--flex {}
    }

    &__mini-title {}

    &__description {}

    &__logo {}

    &__price {
      font-size: 28px;
    }

    &__discount {
      &--red {}
    }

    &__button {}

    &__promo {
      left: auto;
      right: 20px;
      border-radius: 3px;

      &::before {
        display: none;
      }
    }
  }
}

@media only screen and (max-width: 640px) {
  .packet-services {
    position: relative;

    &__main-title {}

    &__item {
      padding: 20px 10px 0;
    }

    &__title {
      padding-left: 70px;
      margin-bottom: 16px;
    }

    &__inner {
      position: relative;
      flex-direction: column;
      padding-left: 70px;
    }

    &__img-mobile {
      display: block;
      position: absolute;
      left: 0;
      top: -50px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__img {
      position: absolute;
      left: 10px;
      top: 20px;
      width: 60px;
      height: 60px;
      display: block;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__column {
      margin-bottom: 16px;

      &:first-child {
        .packet-services__list {

          display: none;
        }
      }

    }

    &__list {}

    &__list-item {
      &--flex {}
    }

    &__mini-title {}

    &__description {}

    &__logo {}

    &__price {}

    &__discount {
      &--red {}
    }

    &__promo {
      display: none;
    }

    .button--blue {
      width: calc(100% + 70px);
      position: relative;
      right: 70px;
      margin-top: 16px;
    }
  }
}

@media only screen and (max-width: 480px) {

  .packet-services {
    &__main-title {}

    &__item {}

    &__title {
      font-size: 28px;
      margin-bottom: 0;
    }

    &__inner {}

    &__img-mobile {
      display: block;
      position: absolute;
      left: 0;
      top: -40px;

    }

    &__column {}

    &__list {}

    &__list-item {
      &--flex {}
    }

    &__mini-title {}

    &__description {}

    &__logo {}

    &__price {}

    &__discount {
      &--red {}
    }

    &__button {}

    &__promo {}
  }

}

@media only screen and (max-width: 380px) {
  .packet-services {
    &__main-title {}

    &__item {}

    &__title {
      font-family: Gilroy;
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: 20px;
      letter-spacing: 0em;
      text-align: left;
      margin-bottom: 0;
    }

    &__inner {}

    &__img-mobile {
      display: block;
      position: absolute;
      left: 0;
      top: -20px;

    }

    &__column {}

    &__list {}

    &__list-item {
      &--flex {}
    }

    &__mini-title {}

    &__description {
      font-family: Gilroy;
      font-size: 12px;
      font-style: normal;
      font-weight: 500;
      line-height: 14px;
      letter-spacing: 0em;
      text-align: left;
    }

    &__logo {}

    &__price {
      font-family: Gilroy;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: 25px;
      letter-spacing: 0em;
      text-align: left;
    }

    &__discount {
      &--red {}
    }

    &__button {}

    &__promo {}
  }

}

/*****--------------------packet-services-----------------*****/

/*****--------------------block-info-----------------*****/
@media only screen and (max-width: 768px) {

  .block-info {
    padding: 20px;

    &--blue {}

    &__title {}

    &__text {}

    &__button {}
  }

}

@media only screen and (max-width: 640px) {
  .block-info {
    padding: 20px;

    &--blue {}

    &__title {
      font-size: 27px;
    }

    &__text {}

    &__button {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 480px) {
  .block-info {
    padding: 20px 10px;

    &--blue {}

    &__title {
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 16px;
    }

    &__text {
      font-size: 13px;
      font-style: normal;
      font-weight: 500;
      line-height: 15px;
    }

    &__button {
      width: 100%;
    }
  }
}

/*****--------------------block-info-----------------*****/

/*****--------------------rating-description-----------------*****/
.rating-description {
  .slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    left: calc(50% - 50px);
    bottom: 0;
    z-index: 10;

    li {
      display: flex;
    }

    button {
      cursor: pointer;
      height: 8px;
      width: 8px;
      border-radius: 50%;

      font-size: 0;
      border: 0;
      margin: 0 4px;
      background: #C4C4C4;
    }

    .slick-active button {
      width: 12px;
      height: 12px;
      background: $blue;
    }
  }

  .slick-arrow {
    cursor: pointer;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 0;
    font-size: 0;
    background: $blue;

    position: absolute;
    top: calc(50% - 12px);

    background-image: url(../img/icons/white-arrow.svg);
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 20;

    &.slick-next {
      right: 0;
      transform: rotate(180deg);
    }
  }
}

@media only screen and (max-width: 640px) {
  .rating-description {
    &__main-title {
      font-size: 30px;
      line-height: 30px;
      padding-left: 30px;
    }

    &__inner {
      display: block;
      padding: 20px;
      padding-bottom: 24px;
    }

    &__block {}

    &__img {
      margin: 0 auto;
    }

    &__title {
      text-align: center;
    }

    &__text {
      text-align: center;
    }

    .slick-dots {
      display: flex;
      align-items: center;
      justify-content: center;

      position: absolute;
      left: calc(50% - 50px);
      bottom: 0;
      z-index: 10;

      li {
        display: flex;
      }

      button {
        cursor: pointer;
        height: 8px;
        width: 8px;
        border-radius: 50%;

        font-size: 0;
        border: 0;
        margin: 0 4px;
        background: #C4C4C4;
      }

      .slick-active button {
        width: 12px;
        height: 12px;
        background: $blue;
      }
    }

    .slick-arrow {
      width: 24px;
      height: 24px;
      border-radius: 50%;
      border: 0;
      font-size: 0;
      background: $blue;

      position: absolute;
      top: calc(50% - 12px);

      background-image: url(../img/icons/white-arrow.svg);
      background-repeat: no-repeat;
      background-position: center center;
      z-index: 20;

      &.slick-next {
        right: 0;
        transform: rotate(180deg);
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  .rating-description {
    &__main-title {
      font-size: 26px;
    }

    &__inner {}

    &__block {}

    &__img {}

    &__title {}

    &__text {}
  }
}

@media only screen and (max-width: 420px) {
  .rating-description {
    &__main-title {
      font-size: 18px;
      line-height: 22px;
      padding-left: 0;
    }

    &__inner {
      padding: 0 0 24px;
    }

    &__block {}

    &__img {}

    &__title {}

    &__text {}
  }
}

/*****--------------------rating-description-----------------*****/


/*****--------------------equipment-----------------*****/
@media only screen and (max-width: 786px) {
  .equipment {
    &__title {}

    &__inner {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__logo {
      padding: 0 10px;
      width: 300px;
    }
  }
}

@media only screen and (max-width: 640px) {
  .equipment {
    &__title {
      font-size: 30px;
      line-height: 40px;

      margin-bottom: 24px;
    }

    &__inner {}

    &__logo {}
  }
}

@media only screen and (max-width: 480px) {
  .equipment {

    &__inner {
      grid-gap: 20px;

    }

    &__title {
      font-size: 24px;
      line-height: 30px;
      margin-bottom: 16px;
    }


    &__logo {}
  }
}

@media only screen and (max-width: 380px) {
  .equipment {
    &__inner {
      grid-gap: 10px;

    }

    &__title {
      font-size: 18px;
      line-height: 24px;
    }


    &__logo {}
  }
}

/*****--------------------equipment-----------------*****/

/*****--------------------smart-house-----------------*****/
@media only screen and (max-width: 786px) {
  .smart-house {
    &__top {
      margin-bottom: 16px;
      position: relative;
    }

    &__content {
      position: absolute;
      left: 40px;
      width: 60%;
    }

    &__title {
      font-size: 30px;
      line-height: 40px;
    }

    &__text {}

    &__img {
      margin-left: auto;
    }

    &__bottom {
      grid-template-columns: 1fr;
      // grid-row-gap: 60px;
    }

    &__column {
      padding-top: 0;

      display: flex;
      align-items: center;
    }

    &__logo {
      position: static;
      float: left;
      margin-right: 16px;

      flex-shrink: 0;
    }

    &__info {}
  }

}

@media only screen and (max-width: 550px) {
  .smart-house {
    &__top {
      padding: 30px 20px;
      flex-direction: column;
    }

    &__content {
      position: static;
      left: 0;
      width: 100%;
    }

    &__title {
      br {
        display: none;
      }
    }

    &__text {}

    &__img {
      width: 180px;
      height: 180px;

      margin-right: auto;
      order: -1;
    }

    &__bottom {
      grid-row-gap: 20px;
    }

    &__column {}

    &__logo {
      width: 40px;
      height: 40px;
    }

    &__info {}
  }

}

@media only screen and (max-width: 420px) {
  .smart-house {
    margin-bottom: 40px;

    &__top {
      padding: 20px 10px;
    }

    &__content {}

    &__title {
      font-family: Gilroy;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 19px;
      letter-spacing: 0em;
      text-align: left;

    }

    &__text {
      font-family: Gilroy;
      font-size: 13px;
      font-style: normal;
      font-weight: 500;
      line-height: 15px;
      letter-spacing: 0em;
      text-align: left;

    }

    &__img {
      width: 180px;
      height: 180px;

      margin-right: auto;
      order: -1;
    }

    &__bottom {
      grid-row-gap: 10px;
    }

    &__column {}

    &__logo {}

    &__info {
      font-family: Gilroy;
      font-size: 13px;
      font-style: normal;
      font-weight: 500;
      line-height: 15px;
      letter-spacing: 0em;
      text-align: left;

    }
  }
}

@media only screen and (max-width: 320px) {}

/*****--------------------smart-house-----------------*****/


/*****--------------------discover -----------------*****/
@media only screen and (max-width: 380px) {

  .discover {
    padding: 30px 0 40px;
    margin-bottom: 40px;

    &__title {
      font-size: 26px;
      line-height: 30px;
    }

    &__slider {}

    &__slider-item {}
  }
}

@media only screen and (max-width: 320px) {
  .discover {
    margin-bottom: 40px;

    &__title {
      font-size: 18px;
      line-height: 22px;
    }

    &__slider {}

    &__slider-item {}
  }
}

@media only screen and (max-width: 480px) {}

@media only screen and (max-width: 320px) {}

/*****--------------------discover -----------------*****/