/*****--------------------equipment-----------------*****/
@media only screen and (max-width: 1024px) {
	.equipment {
	&__item {
		flex-direction: column;
		position: relative;
	}
	&__column {
		padding-left: 170px;
		&:first-child {
			position: absolute;
			padding-left: 0;
		}
		&:last-child {
			margin-top: 20px;
		}
	}
	&__img {
	}
	&__item-title {
	}
	&__text {
	}
	&__grid {
	}
	&__grid-item {
	}
	&__icon {
	}
	&__price {
	}
	&__button {
		width: 100%;
	}
}
}

@media only screen and (max-width: 768px) {

	.sort-line {
		display: none;
	}
	.equipment {
	&__item {
	}
	&__column {
	}
	&__img {
	}
	&__item-title {
	}
	&__text {
		margin-bottom: 24px;
	}
	&__grid {
		grid-template-columns: 1fr;
	}
	&__grid-item {
	}
	&__icon {
	}
	&__price {
		margin-bottom: 24px;
	}
	&__button {
	}
}
}

@media only screen and (max-width: 640px) {
	.equipment {
	&__item {
		padding: 20px 10px;
	}
	&__column {
		padding-left: 120px;
	}
	&__img {
		width: 100px;
		height: 100px;
	}
	&__item-title {
	}
	&__text {
		margin-bottom: 24px;
	}
	&__grid {
		grid-template-columns: 1fr;
		grid-row-gap: 10px;
	}
	&__grid-item {
	}
	&__icon {
	}
	&__price {
		margin-bottom: 24px;
	}
	&__button {
	}
}}

@media only screen and (max-width: 480px) {
.equipment {
	&__item {
	}
	&__column {
		padding-left: 70px;
		&:last-child {
margin-top: 1px;
		}
	}
	&__img {
		width: 60px;
		height: 60px;
	}
	&__item-title {font-family: Gilroy;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 19px;
letter-spacing: 0em;
text-align: left;

margin-bottom: 16px;
	}
	&__text {
		margin-bottom: 0;
		font-weight: 500;
font-size: 11px;
line-height: 127.3%;
/* or 14px */


color: #818181;
	}
	&__grid {

		display: none;
	}
	&__grid-item {
	}
	&__icon {
	}
	&__price {font-family: Gilroy;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 24px;

	}
	&__button {
		font-size: 12px;
line-height: 15px;
	}
}

}

/*****--------------------equipment-----------------*****/

/*****--------------------complectaion----------------*****/
@media only screen and (max-width: 1024px) {
.complectation {
	grid-column-gap: 20px;
	border-radius: 20px;

	&__card {
		padding: 30px;
	}
	&__img {
	}
	&__content {
	}
	&__title {
	}
	&__text {
	}
}

}
@media only screen and (max-width: 768px) {
.complectation {
	grid-column-gap: 20px;
	border-radius: 20px;

	&__card {
		padding: 30px 20px;
	}
	&__img {
	}
	&__content {
		margin-left: 20px;
	}
	&__title {
		font-size: 22px;
		line-height: 26px;
	}
	&__text {
		font-size: 14px;
		line-height: 20px;
	}
}
}
@media only screen and (max-width: 640px) {

	.complectation {
		grid-template-columns: 1fr;
		margin-bottom: 50px;
	&__card {
	}
	&__img {
	}
	&__content {
	}
	&__title {
	}
	&__text {
	}
}
}
@media only screen and (max-width: 380px) {
		.complectation {
			margin-bottom: 30px;
	&__card {
		flex-direction: column;
		align-items: center;
		border-radius: 15px;
		padding: 32px 10px;
	}
	&__img {
		margin-bottom: 24px;
		height: 90px;
	}
	&__content {
		margin-left: 0;
	}
	&__title {font-size: 16px;
line-height: 19px;
margin-bottom: 10px;
	}
	&__text {font-size: 14px;
line-height: 23px;
	}
}

}
/*****--------------------complectaion----------------*****/

/*****--------------------big-equipment-----------------*****/
@media only screen and (max-width: 1024px) {
	.big-equipment {
	&__inner {
		flex-direction: column;
		position: relative;
	}
	&__column {
		padding-left: 35%;
		&:first-child {
			width: 30%;
			position: absolute;
			padding-left: 0;
		}
	}
	&__img {
		width: 100%;
		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
	&__title {
	}
	&__subtitle {
	}
	&__brend {
	}
	&__text {
	}
	&__box {
		margin-bottom: 24px;
	}
	&__price {
	}
	&__button {
	}
	&__grid {
		grid-template-columns: repeat(2, 1fr);
	}
	&__grid-item {
	}
	&__icon {
	}
	&__grid-text {
	}
}
}
@media only screen and (max-width: 640px) {
	.big-equipment {
		margin-bottom: 40px;
	&__inner {
	}
	&__column {
		padding-left: 0;
		&:first-child {
			width: 100%;
			position: relative;
		}
	}
	&__img {
	}
	&__title {
	}
	&__subtitle {
	}
	&__brend {
	}
	&__text {
	}
	&__box {
	}
	&__price {
	}
	&__button {
		width: 100%;
	}
	&__grid {
		grid-template-columns: 1fr;
	}
	&__grid-item {
	}
	&__icon {
	}
	&__grid-text {
	}
}
}
@media only screen and (max-width: 420px) {
	.big-equipment {
		margin-bottom: 30px;
	&__inner {
	}
	&__column {
		padding-left: 0;
		&:first-child {
			width: 100%;
			position: relative;
		}
	}
	&__img {
		height: 240px;
		margin-top: -10px;
	}
	&__title {font-size: 18px;
line-height: 22px;
	}
	&__subtitle {font-size: 14px;
line-height: 17px;
	}
	&__brend {
		margin-bottom: 10px;
	}
	&__text {font-size: 12px;
line-height: 127.3%;
p {
	margin-bottom: 10px;
}
	}
	&__box {	}
	&__price {
	}
	&__button {font-size: 12px;
line-height: 15px;
	}
	&__grid {		grid-row-gap: 16px;
	}
	&__grid-item {
	}
	&__icon {
	}
	&__grid-text {
	}
}}

@media only screen and (max-width: 320px) {}

/*****--------------------big-equipment-----------------*****/