// %title-font {
// 	font-family: 'Montserrat', sans-serif;
// 	font-weight: 700;
// }

// @function max($numbers...) {
// 	@return m#{a}x(#{$numbers});
// }

// @function min($numbers...) {
// 	@return m#{i}n(#{$numbers});
// }


/*****--------------------color-----------------*****/
$blue: #005DFF;
$green-blue: #61E2AB;
$yellow: #FDE74C;
$red: #FF5252; 

$text-black: #000;
$text-grey: #666666;
$link-grey: #818181;
$fon-grey: #F7F7F7;
/*****--------------------color-----------------*****/

@mixin pseudo {
	content: '';
	display: inline-block;
	position: relative;
}