<!--                         contact                         -->
<div class="container">
  <div class="contact">
    <div class="contact__links">
      <div class="contact__links-title">
        <img src="img/vincko-contact.png" alt="">
      </div>
      <div class="contact__list-wrapper">
        <div class="contact__list">
          <a href="main-services.html" class="contact__list-link">Пакеты охранных услуг</a>
          <a href="security-companies.html" class="contact__list-link">Рейтинг охранных компаний</a>
          <a href="equipments.html" class="contact__list-link">Комплекты оборудования</a>
          <a href="promotion.html" class="contact__list-link">Хиты продаж</a>
        </div>
        <div class="contact__list">
          <a href="index.html" class="contact__list-link">О компании vincko</a>
          <a href="" class="contact__list-link">Политика конфиденциальности</a>
          <a href="" class="contact__list-link">Пользовательское соглашение</a>
          <a href="" class="contact__list-link">Публичная оферта</a>
        </div>
      </div>
    </div>
    <div class="contact__parteners">
      <h3 class="contact__parteners-title">Служба заботы о клиентах</h3>
      <a href="tel:8 800 000 00 00" class="contact__parteners-phone">8 800 000 00 00</a>
      <div class="contact__button button button--blue button--long">отзыв об охранной компании</div>
      <div class="contact__button button button--blue">заявка на партнерство</div>
      <div class="contact__parteners-info">Для охранных и монтажных компаний, производителей оборудования и других юридических лиц</div>
    </div>
  </div>
</div>
<!--                         contact                         -->