<header class="header">
  <div class="container">
    <div class="header__inner">
      <a href="index.html" class="header__logo">
        <img src="img/logo.svg" alt="">
      </a>
      <div class="header__contact header__contact--right">
        <a href="+7 (861) 205-01-31" class="header__tel">+7 (861) 205-01-31</a>
        <div class="header__loc">Петропавловск-Камчатский</div>
      </div>
      <div class="header__login">
        <a href="orders.html" class="header__login-link">Заказы</a>
        <a href="" class="header__login-link">Вход/Регистрация</a>
      </div>
      <div class="header__group">
        <div class="header__filter"></div>
        <div class="header__burger header__burger--main">
          <div class="burger-menu">
            <li class="burger-menu__item">
              <a href="main-services.html" class="burger-menu__link">Пакеты охранных услуг</a>
            </li>
            <li class="burger-menu__item">
              <a href="equipments.html" class="burger-menu__link">Комплекты оборудования</a>
            </li>
            <li class="burger-menu__item">
              <a href="security-companies.html" class="burger-menu__link">Рейтинг охранных компаний</a>
            </li>
            <li class="burger-menu__item">
              <a href="promotion.html" class="burger-menu__link">VINкомбо</a>
            </li>
<!--             <li class="burger-menu__item">
              <a href="" class="burger-menu__link">Лучшие предложения</a>
            </li> -->
            <li class="burger-menu__item">
              <a href="index.html" class="burger-menu__link">О нас</a>
            </li>
            <li class="burger-menu__item burger-menu__item--line"></li>
            <li class="burger-menu__item">
              <a href="profile-info.html" class="burger-menu__link">Личный кабинет</a>
            </li>
            <li class="burger-menu__item">
              <a href="orders.html" class="burger-menu__link">Заказы</a>
            </li>
            <li class="burger-menu__item burger-menu__item--line"></li>
            <li class="burger-menu__item">
              <a href="" class="burger-menu__link burger-menu__link--phone">8 800 056 56 56</a>
            </li>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>