<!--                         mini-articles                         -->
<div class="mini-articles">
  <h3 class="mini-articles__title">Микро статьи</h3>
  <div class="mini-articles__inner">
    <div class="mini-articles__block">
      <div class="mini-articles__img">
        <img src="img/mini-articles1.png" alt=""></div>
      <div class="mini-articles__content">
        <div class="mini-articles__group">
          <div class="mini-articles__date">18 января</div>
          <a href="" class="mini-articles__link">Полезное</a>
        </div>
        <a href="" class="mini-articles__text">Что будет, если работать с охраной без лицензии</a>
      </div>
    </div>
    <div class="mini-articles__block">
      <div class="mini-articles__img">
        <img src="img/mini-articles2.png" alt="">
      </div>
      <div class="mini-articles__content">
        <div class="mini-articles__group">
          <div class="mini-articles__date">18 января</div>
          <a href="" class="mini-articles__link">Полезное</a>
        </div>
        <a href="" class="mini-articles__text">Как защитить свое предприятие от хакеров?</a>
      </div>
    </div>
    <div class="mini-articles__block">
      <div class="mini-articles__img">
        <img src="img/mini-articles3.png" alt=""></div>
      <div class="mini-articles__content">
        <div class="mini-articles__group">
          <div class="mini-articles__date">18 января</div>
          <a href="" class="mini-articles__link">Полезное</a>
        </div>
        <a href="" class="mini-articles__text">Три простых технических решения для безопасности дома</a>
      </div>
    </div>
  </div>
</div>
</div>
<!--                         mini-articles                         -->